<%= render_header(@user_name) %>

<!--<table>-->
  <!--<tr>-->
    <!--<th>Login</th>-->
    <!--<th>Full name</th>-->
    <!--<th>Alternative email</th>-->
    <!--<th>Birthday</th>-->
  <!--</tr>-->

<!--<% @profiles.each do |profile| %>-->
  <!--<tr <%= "class=\"#{cycle('flip', 'flop')}\""%>>-->
    <!--<td><%= profile.user.user_name %></td>-->
    <!--<td><%= profile.name %></td>-->
    <!--<td><%= profile.alternative_email %></td>-->
    <!--<td><%= profile.birthday %></td>-->
    <!--<%= action_links profile %>-->
  <!--</tr>-->
<!--<% end %>-->
<!--</table>-->

<%= render_table @profiles, {
        header: ['Login', 'Full name', 'Alternative email', 'Birthday'],
        body: ['user.user_name', 'name', 'alternative_email', 'birthday']
} %>

<br />

<%= new_link %>
