<%= render_header %>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.user_id %></td>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <%= action_links group, edit_group_path(group) %>
  </tr>
<% end %>
</table>

<br />

<%= new_link new_group_path %>