<%= render_header %>
<%= render_notice %>

<p>
  <b>User:</b>
  <%= @group.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<%= edit_link @group %> |
<%= back_link %>