<%= render_header %>
<%= render_notice %>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Password hash:</b>
  <%= @user.password_hash %>
</p>

<%= edit_link @user %> |
<%= back_link %>
