<%= form_for(@wall) do |f| %>
    <%= raw render_error @wall %>
    <div class="field">
        <%= f.label :message %><br />
        <%= f.text_field :message %>
    </div>
    <%= submit_form f %>
<% end %>
