<%= render_header %>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.user.user_name %></td>
    <td><%= wall.message %></td>
    <%= action_links wall %>
  </tr>
<% end %>
</table>

<br />

<%= new_link %>
