<%= render_header %>
<%= render_notice %>

<p>
  <b>User:</b>
  <%= @wall.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @wall.message %>
</p>

<%= edit_link edit_wall_path(@wall) %> |
<%= back_link walls_path %>